<%- include('header'); %>

<div class="box" id="heading">
<h1><%= gdate %></h1>
</div>

<div class="box">

  <% for( let i = 0; i < items.length; i++ ) { %>
  <div class="item">
    <input type="checkbox">
    <h3><%= items[i] %></h3>
    <button id="deletebtn" style="margin-left: 0px;" onclick="myFunction()">❌</button>
  </div>
    <% } %>

  <form class="item" action="/list" method="post">
    <input type="text" name="item" placeholder="Enter item" autocomplete="off">
    <button type="submit">+</button>
  </form>

</div>

<%- include('footer'); %>